@font-face {
   font-family: 'BebasNeue-Regular';
   font-display: swap;
   src: url('file:///C:/Users/cosmi/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-12-21_171546/fonts/BebasNeue-Regular/font.ttf');
}
